//common

$font-12:0.75rem;
$font-14:0.875rem;
$font-16:1rem;
$font-18:1.125rem;
$font-20:1.25rem;
$font-24:1.5rem;
$font-26:1.625rem;
$font-30:1.875rem;
$font-32:2rem;
$font-45:2.813rem;
$font-s:300;
$font-m:500;
$font-sb:600;
$font-b:700;

$line-height-120:120%;
$line-height-150:150%;
$line-height-200:200%;

$color-gray-1:#B4B4B4;
$color-gray-2:#767676;
$color-gray-3:#606060;
$color-white:#fff;
$color-black:#333;
$color-point-1 :#FFF4A0;
$color-point-2:#D40631;



@mixin check1 {border: 2px solid red;}
@mixin check2 {border: 2px solid blue;}
@mixin check3 {border: 2px solid green;}

@mixin c-black {width: 13px; height:13px; border-radius: 10px; background-color: #464646; }
@mixin c-beige {width: 13px; height:13px; border-radius: 10px; background-color: #FCFBF0; border: 0.3px solid #B4B4B4;}
@mixin c-white {width: 13px; height:13px; border-radius: 10px; background-color: #F2f2f2; border: 0.3px solid #B4B4B4;}
@mixin c-blue {width: 13px; height:13px; border-radius: 10px; background-color: #3B469D; }
@mixin c-purple {width: 13px; height:13px; border-radius: 10px; background-color: #6D4ACD; }
@mixin c-red {width: 13px; height:13px; border-radius: 10px; background-color: #FF7256; }
@mixin c-grey {width: 13px; height:13px; border-radius: 10px; background-color: #666; }
@mixin c-nevy {width: 13px; height:13px; border-radius: 10px; background-color: #0C093A; }
@mixin c-brown {width: 13px; height:13px; border-radius: 10px; background-color: #5E3E0A; }


@mixin title-30 {font-size:1.875rem; font-weight: 600;}

@mixin btn-style-w {/* padding:10px 50px; color:#fff; border: 0.5px solid #fff; */
display: flex; gap:3px; font-weight: 600;}
@mixin btn-style-b {/* padding:10px 50px; color:#333; border: 0.5px solid #333; */
    display: flex; gap:3px;
}

@mixin btn-style-w-c {padding:10px 20px; color:#fff; border: 0.5px solid #fff;}

@mixin slide-btn {width: 34px; height: 34px; position: relative;}


@mixin pr-ne {position: absolute;
    border: 0.5px solid rgba($color: #b4b4b4, $alpha: 0.5);
    width: 34px; height: 34px;
    transform: translateY(5px);
    background: $color-white;}
@mixin svg-opt {width: 70%; height: 70%; color:$color-black;}
@mixin pr-btn {left: calc(100% - 68px);}
@mixin ne-btn {right: 0;}

@mixin item-name {font-size:0.875rem;}

@mixin bg-opt { background-repeat: no-repeat;background-position: center; background-size: cover;}

@mixin center-a {transform: translate(-50%,-50%);}

@keyframes bnr-ani {
    0% {opacity: 0; transform: translateX(-2%);}
    100% {opacity: 1 ;transform: translateX(0);}
}

@keyframes hdr-ani {
    0% {opacity: 0.5;}
    100% {opacity: 1;}
}