//common

$font-12:0.75rem;
$font-14:0.875rem;
$font-16:1rem;
$font-18:1.125rem;
$font-20:1.25rem;
$font-24:1.5rem;
$font-30:1.875rem;
$font-45:2.813rem;
$font-m:500;
$font-sb:600;
$font-b:700;

$line-height-120:120%;
$line-height-150:150%;

$color-gray-1:#767676;
$color-white:#fff;


@mixin check1 {border: 2px solid red;}
@mixin check2 {border: 2px solid blue;}
@mixin check3 {border: 2px solid green;}

@mixin c-black {width: 10px; height:10px; border-radius: 5px; background-color: #464646; }
@mixin c-beige {width: 10px; height:10px; border-radius: 5px; background-color: #FCFBF0; }
@mixin c-white {width: 10px; height:10px; border-radius: 5px; background-color: #F2f2f2; }
@mixin c-blue {width: 10px; height:10px; border-radius: 5px; background-color: #3B469D; }
@mixin c-purple {width: 10px; height:10px; border-radius: 5px; background-color: #6D4ACD; }
@mixin c-red {width: 10px; height:10px; border-radius: 5px; background-color: #FF7256; }
@mixin c-grey {width: 10px; height:10px; border-radius: 5px; background-color: #666; }
@mixin c-nevy {width: 10px; height:10px; border-radius: 5px; background-color: #0C093A; }


@mixin title-30 {font-size:1.875rem; font-weight: 600;}

@mixin btn-style-w {padding:10px 50px; color:#fff; border: 0.5px solid #fff;}
@mixin btn-style-b {padding:10px 50px; color:#333; border: 0.5px solid #333;}

@mixin pr-btn {width: 100%; height: 100%; content: ""; display: block; position: absolute; top:0; left: 0; background-image: url(../images/icon/pr_btn.svg);}
@mixin ne-btn {width: 100%; height: 100%; content: ""; display: block; position: absolute; top:0; left: 0; background-image: url(../images/icon/ne_btn.svg);}

@mixin item-name {font-size:0.875rem;}